<div class="items-center justify-center w-full bg-white rounded-lg shadow lg:flex md:mt-0 lg:max-w-screen-lg 2xl:max:max-w-screen-lg xl:p-0 dark:bg-gray-800">
    <div class="hidden w-2/3 lg:flex">
        <img class="rounded-l-lg" src="../../static/threefold_sustainability.png" alt="login image">
    </div>
    <div class="w-full p-6 space-y-8 sm:p-8 lg:p-16 lg:py-0">
        <h2 class="text-2xl font-bold text-gray-900 lg:text-3xl dark:text-white">
            Sign in to publisher 
        </h2>
        <form class="mt-8 space-y-6" id="login-form"
        hx-post="/login_service"
        hx-target="#login-card"
        hx-swap="none"
        >
            <span hx-get="@login.login.route" hx-trigger="submit from:#login-form" hx-sync="closest form:queue" hx-target="@login.login.target" hx-swap="innerHTML"></span>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="name@@company.com" required>
            </div>
            <button id="email-btn" type="submit" class="w-full px-5 py-3 text-base border-emerald-50 border-2 font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Continue</button>
        </form>
    </div>
</div>

