    <a href="@open_site.route" target="_blank">
    <div id="card" class="p-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800 w-full cursor-pointer"
    >
      <div class="flex items-center">
        <div class="flex-shrink-0 w-full">
          <span class="text-2xl font-semibold leading-none text-gray-900 sm:text-2xl dark:text-white">@title</span>
          <h3 class="text-base my-2 font-normal text-gray-500 dark:text-gray-400">Type: @site.sitetype</h3>
        </div>
      </div>
      <div id="new-products-chart"></div>
      <p class="text-white my-2">@description</p>
      <!-- Card Footer -->
      @if access.right == .write
      <div class="flex justify-between items-center pt-3 border-t border-gray-200 sm:pt-6 dark:border-gray-700">
        <div>
        <button class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                _="on click toggle .visible on #share-dropdown until mouseleave"
        >
            <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
            Share
        </button>

          <!-- Dropdown menu -->
          <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" id="share-dropdown">
              <ul class="py-1" role="none">
                @for item in ["Hello"]
                <li>
                  <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">item</a>
                </li>
                @end
                <li>
                  <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Today</a>
                </li>
                <li>
                  <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Last 7 days</a>
                </li>
                <li>
                  <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Last 30 days</a>
                </li>
                <li>
                  <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Last 90 days</a>
                </li>

              </ul>
              <div class="py-1" role="none">
                <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Custom...</a>
              </div>
          </div>
        </div>
        <div class="flex-shrink-0">
            @if open_site.target == '_blank'            
                <a href="/sites/@site.name/index.html" target="_blank" class="inline-flex items-center p-2 text-xs font-medium uppercase rounded-lg text-primary-700 sm:text-sm hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
                  open_site.label
                  <svg class="ml-1 w-4 h-4 sm:w-5 sm:h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                </a>
            }
            @else
                <span hx-get="@open_site.route" hx-trigger="@open_site.trigger" hx-target="@open_site.target" hx-sync="#card:abort" class="inline-flex items-center p-2 text-xs font-medium uppercase rounded-lg text-primary-700 sm:text-sm hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
                    @open_site.label
                    <svg class="ml-1 w-4 h-4 sm:w-5 sm:h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                </span> 
            @end       
        </div>
      </div>
      @end
    </div>