<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <script src="/static/htmx.min.js"></script>
</head>
<div class="h-full flex flex-col items-center justify-center px-6 mx-auto pt:mt-0 dark:bg-gray-900">
    <div class="text-left w-full p-6 sm:p-8 lg:p-16 lg:py-0 lg:max-w-screen-lg 2xl:max:max-w-screen-lg">
        <h1 class="text-4xl font-semibold lg:mb-4 dark:text-white">Welcome to Threefold Publisher</h1>
        <p class="mb-4 text-lg font-medium lg:mb-4 dark:text-white">You can use this website to access and create documents.</p>
    </div>
    <a href="#" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
    </a>
    <span id="login-card" hx-get="@route" hx-trigger="load"></span>
</div>
