
<div class="text-white p-20">
    <h1>ThreeFold Publisher</h1>
    @content
    <h2>Get started:</h2>
    <button hx-get='/auth/email_required' hx-trigger="click" hx-target="#dashboard-container"> Login </button>
    Log in with your email to view sites that have been shared with you.

    * [Verify Email](/dashboard/auth/verify)
    If you haven't, verify your email address to gain access to shared documents that required email verification.


    * [Upload Site](/)

    Create a site.

    * [Documentation](/)

    Read the documentation to use the tool.

</div>